<head>
    {%- assign _ = site.data.[page.lang] -%}

    {%- capture title %}{% if page.title %}{{ page.title[page.lang] }}{% else %}{{ _.title }}{% endif %}{%- endcapture %}
    {%- capture description %}{% if page.description %}{{ page.description[page.lang] }}{% else %}{{ _.description }}{% endif %}{%- endcapture %}
    {%- if page.base %}
        {% capture path %}{{ page.url | replace:'index.html','' }}{% endcapture %}
    {%- else %}
        {% capture path %}{{ page.url | replace:'index.html','' | replace_first:'/','' | replace_first:page.lang,'' }}{%- endcapture %}
    {%- endif %}
    {%- capture canonical %}{{ path | prepend: page.lang | prepend: '/' | prepend: site.url }}{%- endcapture %}

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width" />

    <link rel="canonical" href="{{ canonical }}" />
    {%- for language in site.languages %}
        {%- if language[0] != page.lang %}
            <link rel="alternate" hreflang="{{ language[0] }}" href="{{ path | prepend: language[0] | prepend: '/' | prepend: site.url }}" />
        {%- endif %}
    {%- endfor %}

    <meta name="keywords" content="{{ _.keywords }}">
    <meta name="description" content="{{ description }}" />
    <meta property="og:locale" content="{{ page.lang }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ site.url }}/assets/images/logo.png">
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:url" content="{{ canonical }}" />
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:image" content="{{ site.url }}/assets/images/logo.png">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="{{ site.twitter }}" />
    <meta name="twitter:creator" content="{{ site.twitter }}" />
    <meta name="google-site-verification" content="{{ site.google_site_verification }}" />

    {% if page.base %}
        <script>
        (function(window, document, undefined) {
          var language = navigator.language || navigator.userLanguage || {{ site.default_language | jsonify }};
          language = language.toLowerCase().substr(0, 2);
          {%- for language in site.languages %}
          if (language == {{ language[0] | jsonify }}) {
            window.location.href = {{ path | prepend: language[0] | prepend: '/' | jsonify}};
            return;
          }
          {%- endfor %}
          window.location.href = {{ path | prepend: site.default_language | prepend: '/' | jsonify}};
        })(window, document);
        </script>
    {%- endif %}

    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Kreon" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="{{ "/assets/javascript/cookieconsent/cookieconsent.min.css?v=1" | prepend: site.baseurl }}" />
    <link rel="stylesheet" href="{{ "/assets/css/animate.css?v=1" | prepend: site.baseurl }}" />
    <link rel="stylesheet" href="{{ "/assets/css/main.css?v=3" | prepend: site.baseurl }}" />

    <!--[if lt IE 9]>
        <script src="{{ "/assets/javascript/html5shiv.js?v=1" | prepend: site.baseurl }}"></script>
        <script src="{{ "/assets/javascript/respond.min.js?v=1" | prepend: site.baseurl }}"></script>
    <![endif]-->
</head>
