<script src="{{ "/assets/javascript/jquery-1.11.0.min.js?v=1" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/javascript/bootstrap.min.js?v=1" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/javascript/jquery.easing.min.js?v=1" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/javascript/classie.js?v=1" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/javascript/cbpAnimatedHeader.js?v=1" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/javascript/jqBootstrapValidation.js?v=1" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/javascript/cookieconsent/cookieconsent.min.js?v=1" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/javascript/main.js?v=2" | prepend: site.baseurl }}"></script>

<script>
window.addEventListener('load', function() {
  window.cookieconsent.initialise({
    'palette': {
      'popup': {
        'background': '#000000',
        'text': '#ffffff'
      },
      'button': {
        'background': '#fec503',
        'text': '#ffffff'
      }
    },
    'showLink': false,
    'position': 'bottom-right',
    'theme': 'classic',
    'content': {
      'message': '<i class="fa fa-info-circle"></i> {{ _.cookieconsent.message }}',
      'dismiss': '<i class="fa fa-check"></i> {{ _.cookieconsent.dismiss }}'
    }
  });
});
</script>

<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics }}');
</script>
