$color-primary: #fec503;
$color-secondary: #fed136;
$color-secondary-dark: #16353c;
$color-muted: #16353c;

$font-primary: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-secondary: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
