$color-primary: #fec503;
$color-secondary: #fed136;
$color-secondary-dark: #16353c;
$color-muted: #16353c;

$font1: Palanquin,"Helvetica Neue",Helvetica,Arial,sans-serif;
$font2: Salsa, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font3: Tillana, "Helvetica Neue", Helvetica, Arial, sans-serif;
