$color-primary: #fec503;
$color-secondary: #fed136;
$color-secondary-dark: #1b353d;
$color-muted: #1b353d;

$font-primary: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-secondary: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
