@import "variables";

@import "bootstrap";

@import "fontawesome/fontawesome";
@import "fontawesome/fa-regular";
@import "fontawesome/fa-solid";
@import "fontawesome/fa-brands";

/******************************************************************************
 * GENERAL
 *****************************************************************************/

body {
    overflow-x: hidden;
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: $color-secondary-dark;
}

.text-muted {
    color: $color-muted;
}

.text-primary {
    color: $color-primary;
}

p {
    font-size: 20px;
    line-height: 1.50;
    &.large {
        font-size: 22px;
    }
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: $color-primary;
}

a:hover,
a:focus,
a:active,
a.active {
    color: $color-secondary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: $font-primary;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-darkest-gray {
    background-color: #222;
}

.btn-primary {
    border-color: $color-primary;
    text-transform: uppercase;
    font-family: $font-primary;
    font-weight: 700;
    color: #fff;
    background-color: $color-primary;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: $color-primary;
    color: #fff;
    background-color: $color-secondary;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: $color-primary;
    background-color: $color-primary;
}

.btn-primary .badge {
    color: $color-primary;
    background-color: #fff;
}

.btn-xl {
    padding: 20px 40px;
    border-color: $color-primary;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: $font-primary;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: $color-primary;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: $color-primary;
    color: #fff;
    background-color: $color-secondary;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: $color-primary;
    background-color: $color-primary;
}

.btn-xl .badge {
    color: $color-primary;
    background-color: #fff;
}

section {
    padding: 100px 0;

    h2.section-heading {
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 40px;
    }

    h3.section-subheading {
        margin-bottom: 75px;
        text-transform: none;
        font-family: $font-secondary;
        font-size: 20px;
        line-height: 30px;
        font-style: italic;
        font-weight: 400;
    }
}

@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
}

ul.social-buttons {
    margin-bottom: 0;
    text-align: center;

    li a {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        font-size: 20px;
        line-height: 40px;
        outline: 0;
        color: #fff;
        background-color: #222;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    li a:hover,
    li a:focus,
    li a:active {
        background-color: $color-primary;
    }
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

::-moz-selection {
    text-shadow: none;
    background: $color-primary;
}

::selection {
    text-shadow: none;
    background: $color-primary;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: $color-primary;
}

.full {
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media(min-width:768px) {
    .full {
        background-attachment: fixed;
    }
}

/******************************************************************************
 * NAVBAR
 *****************************************************************************/

.navbar-default {
    border-color: transparent;
    background-color: #222;

    .navbar-brand {
        padding: 0px 15px 20px;
        h1 {
            text-transform: none;
            margin: 0px;
            font-family: "Kreon","Helvetica Neue",Helvetica,Arial,cursive;
            font-size: 2.3em;
            color: $color-primary;
            font-weight: bold;
            text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        }
    }

    .navbar-brand:hover,
    .navbar-brand:focus,
    .navbar-brand:active,
    .navbar-brand.active {
        h1 {
            color: $color-secondary;
        }
    }

    .navbar-collapse {
        border-color: rgba(255,255,255,.02);
    }

    .navbar-toggle {
        border-color: $color-primary;
        background-color: $color-primary;
        .icon-bar {
            background-color: #fff;
        }
    }

    .navbar-toggle:hover,
    .navbar-toggle:focus {
        background-color: $color-primary;
    }

    .nav li {
        a {
            text-transform: uppercase;
            font-family: $font-primary;
            font-size: 1.2em;
            font-weight: 400;
            letter-spacing: 1px;
            color: #fff;
            -webkit-transition: all ease .35s;
            -moz-transition: all ease .35s;
            transition: all ease .35s;
        }
        a:hover,
        a:focus {
            outline: 0;
            color: $color-primary;
        }
    }

    .navbar-nav>.active>a {
        border-radius: 0;
        color: #fff;
        background-color: $color-primary;
    }

    .navbar-nav>.active>a:hover,
    .navbar-nav>.active>a:focus {
        color: #fff;
        background-color: $color-secondary;
    }
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;

        .navbar-brand {
            h1 {
                font-size: 3.2em;
                -webkit-transition: all .3s;
                -moz-transition: all .3s;
                transition: all .3s;
            }
        }

        .navbar-nav>.active>a {
            border-radius: 3px;
        }

        &.navbar-shrink {
            padding: 10px 0;
            background-color: #222;
            .navbar-brand {
                h1 {
                    font-size: 2.5em;
                }
            }
        }
    }
}

/******************************************************************************
 * HEADER
 *****************************************************************************/

header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url('/assets/images/header-background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    .intro-text {
        padding-top: 100px;
        padding-bottom: 10px;
        .intro-lead-in {
            margin-bottom: 25px;
            font-family: $font-secondary;
            font-size: 22px;
            font-style: italic;
            line-height: 22px;
        }
        .intro-heading {
            margin-bottom: 25px;
            text-transform: uppercase;
            font-family: $font-primary;
            font-size: 35px;
            font-weight: 700;
            line-height: 50px;
        }
        .btn {
            white-space: normal;
        }
        .intro-languages {
            margin-top: 25px;
            font-size: 15px;
            a {
                text-transform: uppercase;
                font-family: $font-primary;
                font-size: 1.0em;
                letter-spacing: 1px;
                color: #fff;
                &.active {
                    font-weight: bold;
                }
            }
            a:hover,
            a:focus {
                outline: 0;
                color: $color-primary;
            }
        }
    }

}

@media(min-width:768px) {
    header {
        .intro-text {
            padding-top: 350px;
            padding-bottom: 20px;
            .intro-lead-in {
                margin-bottom: 75px;
                font-family: $font-secondary;
                font-size: 40px;
                font-style: italic;
                line-height: 40px;
            }
            .intro-heading {
                margin-bottom: 75px;
                text-transform: uppercase;
                font-family: $font-primary;
                font-size: 45px;
                font-weight: 700;
                line-height: 75px;
            }
            .intro-languages {
                margin-top: 100px;
                margin-bottom: 150px;
                font-size: 20px;
            }
        }
    }
}

/******************************************************************************
 * SERVICES
 *****************************************************************************/

section#services {
    .services {
        p {
            text-align: justify;
        }
    }

    .contact {
        margin-top: 75px;
    }
}

/******************************************************************************
 * MILESTONES
 *****************************************************************************/

section#milestones {
    background-image: url('/assets/images/milestones-background.jpg');
    padding: 125px 0px;
    color: white;

    p {
        font-weight: bold;
        margin-bottom: 0px;
        font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
        &.value {
            font-size: 50px;
            margin-top: 10px;
        }
        &.subject {
            font-size: 20px;
            letter-spacing: 1px;
            text-transform: uppercase;
            padding-bottom: 10px;
        }
    }
}

/******************************************************************************
 * TEAM
 *****************************************************************************/

section#team {
    .service-heading {
        margin: 15px 0;
        text-transform: none;
    }

    .team-member {
        margin-bottom: 50px;
        text-align: center;
        img {
            margin: 0 auto;
            border: 10px solid $color-primary;
        }
        h4 {
            margin-top: 25px;
            margin-bottom: 0;
            text-transform: none;
        }
        p {
            margin-top: 0;
        }
    }
}

/******************************************************************************
 * CONTACT
 *****************************************************************************/

section#contact {
    background-color: #222;
    background-image: url('/assets/images/map.png');
    background-position: center;
    background-repeat: no-repeat;

    .section-heading {
        color: #fff;
    }

    .contact-channels {
        padding-bottom: 40px;
        .contact-channel {
            color: white;
            font-size: 25px;
        }
        a:hover,
        a:focus,
        a:active,
        a.active {
            .fa.fa-circle,
            .contact-channel {
                color: $color-secondary;
            }
        }
    }

    .form-group {
        font-family: $font-primary;
        margin-bottom: 25px;
        input,
        textarea {
            padding: 20px;
        }
        input.form-control {
            height: auto;
        }
        textarea.form-control {
            height: 412px;
        }
        .input-group {
            .btn {
                border: none;
            }
        }
    }

    .form-control:focus {
        border-color: $color-primary;
        box-shadow: none;
    }

    .text-danger {
        color: #e74c3c;
        ul {
            list-style-type: none;
            padding-left: 0px;
        }
    }
}

section#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: $font-primary;
    font-weight: 700;
    color: #bbb;
}

section#contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: $font-primary;
    font-weight: 700;
    color: #bbb;
}

section#contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: $font-primary;
    font-weight: 700;
    color: #bbb;
}

section#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: $font-primary;
    font-weight: 700;
    color: #bbb;
}

/******************************************************************************
 * STRIPS
 *****************************************************************************/

#strip-1 {
    background-image: url('/assets/images/strip-1.jpg');
    padding: 125px 0px;
}

/******************************************************************************
 * FOOTER
 *****************************************************************************/

footer {
    padding: 25px 0;

    span.copyright {
        text-transform: uppercase;
        text-transform: none;
        font-family: $font-primary;
        line-height: 40px;
    }

    ul.quicklinks {
        margin-bottom: 0;
        text-transform: uppercase;
        text-transform: none;
        font-family: $font-primary;
        line-height: 40px;
    }
}
