<!DOCTYPE html>
<html lang="{{ page.lang }}">
    {% include head.html %}
    <body id="page-top" class="{{ page.lang }}-lang">
        {% include home/header.html %}
	{% include home/aboutme.html %}
        {% include home/services.html %}
        {% include home/milestones.html %}
        {% include home/team.html %}
        {% include home/strip-1.html %}
        {% include home/contact.html %}
        {% include home/footer.html %}
        {% include js.html %}
    </body>
</html>
