<section id="aboutme" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8 text-center">
                <h2 class="section-heading">
                    {{ _.aboutme.section-heading }}
                </h2>
                <h3 class="section-subheading text-muted">
                    {{ _.aboutme.section-subheading1 }}
                </h3>
                <h3 class="section-subheading text-muted">
                    {{ _.aboutme.section-subheading2 }}
                </h3>	
                <h3 class="section-subheading text-muted">
                    {{ _.aboutme.section-subheading3 }}
                </h3>				
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="ceo">
                    <img src="/assets/images/team/cristian.jpg" class="img-responsive img-circle" alt="Cristian Marcote">
                    <!---<h4>Cristian Marcote</h4>
                    <p class="text-muted">
                        {{ _.aboutme.cristian.headline }}
                    </p>--->
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-10">
                            <p class="text-muted paragraph">
                                {{ _.aboutme.cristian.paragraph1 }}
                            </p>
							<p class="text-muted paragraph">
                                {{ _.aboutme.cristian.paragraph2 }}
                            </p>
							<p class="text-muted paragraph">
                                {{ _.aboutme.cristian.paragraph3 }}
                            </p>
							<p class="text-muted paragraph">
                                {{ _.aboutme.cristian.paragraph4 }}
                            </p>
                        </div>
                    </div>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="mailto:cristian.marcote@99languages.es">
                                <i class="fa fa-envelope"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.proz.com/profile/2022019" target="blank_">
                                <i class="fa fa-info"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/cmarcote/" target="blank_">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">
                    {{ _.aboutme.contact }}
                </p>
            </div>
        </div>
    </div>
</section>