<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!---<span class="subsidy">
                    <a href="/assets/promocion-emprego-autonomo.pdf" target="_blank">
                        <i class="fa fa-info-circle"></i> {{ _.footer.subsidy }}
                    </a>
                </span>--->
                <span class="copyright">
					<br>Copyright &copy; {{ site.name }} {{ 'now' | date: "%Y" }}
                </span>
            </div>
            <div class="col-md-6">
                <ul class="list-inline quicklinks social-buttons pull-right">
                    <li>
                        <a href="mailto:{{ site.email }}">
                            <i class="fa fa-envelope"></i>
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{ site.phone }}">
                            <i class="fa fa-phone"></i>
                        </a>
                    </li>
                    <li>
                        <a href="skype:{{ site.skype }}?call">
                            <i class="fab fa-skype"></i>
                        </a>
                    </li>
                    <!---<li>
                        <a href="https://twitter.com/{{ site.twitter }}" target="blank_">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>--->
                </ul>
            </div>
        </div>
    </div>
</footer>