<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"><h1>{{ site.name }}</h1></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">
                        {{ _.nav.services }}
                    </a>
                </li>
                <li>
                    <a class="page-scroll" href="#team">
                        {{ _.nav.team }}
                    </a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">
                        {{ _.nav.contact }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">{{ _.header.intro-lead-in }}</div>
            <div class="intro-heading" id="morphext">
                {{ _.header.intro-heading }}
                <span class="hide phrases">
                    ,
                    {%- if page.lang != 'en' %}
                        {{ site.data.en.header.intro-heading }},
                    {%- endif %}
                    {%- if page.lang != 'de' %}
                        {{ site.data.de.header.intro-heading }},
                    {%- endif %}
                    {%- if page.lang != 'es' %}
                        {{ site.data.es.header.intro-heading }},
                    {%- endif %}
                    {%- if page.lang != 'gl' %}
                        {{ site.data.gl.header.intro-heading }}
                    {%- endif %}
                </span>
            </div>
            <a href="#services" class="page-scroll btn btn-xl">
                {{ _.header.intro-button }}
            </a>
            <div class="intro-languages">
                {% for language in site.languages %}
                    <a href="{{ path | prepend: language[0] | prepend: '/' }}"
                       title="{{ language[1] }}"
                       class="{% if language[0] == page.lang %}active{% endif %}">{{ language[0] | upcase }}</a>
                    {% unless forloop.last %}·{% endunless %}
                {% endfor %}
            </div>
        </div>
    </div>
</header>
