<section id="milestones" class="full">
<!--     <div class="container">
        <div class="row text-center milestones">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-file-alt fa-stack-1x fa-inverse"></i>
                </span>
                <p class="value">
                    {{ site.milestones.words }}
                </p>
                <p class="subject">
                    {{ site.data.t.milestones.words[page.lang] }}
                </p>
            </div>

            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-folder-open fa-stack-1x fa-inverse"></i>
                </span>
                <p class="value">
                    {{ site.milestones.projects }}
                </p>
                <p class="subject">
                    {{ site.data.t.milestones.projects[page.lang] }}
                </p>
            </div>

            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <p class="value">
                    {{ site.milestones.clients }}
                </p>
                <p class="subject">
                    {{ site.data.t.milestones.clients[page.lang] }}
                </p>
            </div>
        </div>
    </div>
 --></section>
