<section id="milestones" class="full">
    <div class="container">
        <div class="row text-center milestones">
            <div class="col-md-4">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-server fa-stack-1x fa-inverse"></i>
                </span>
                <p class="value">
                    {{ _.milestones.sap.value }}
                </p>
                <p class="words">
                    {{ _.milestones.words }} DE/EN&gt;ES
                </p>
                <p class="subject">
                    {{ _.milestones.sap.title }}
                </p>
            </div>

            <div class="col-md-4">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                </span>
                <p class="value">
                    {{ _.milestones.automotive.value }}
                </p>
                <p class="words">
                    {{ _.milestones.words }} DE/EN&gt;ES
                </p>
                <p class="subject">
                    {{ _.milestones.automotive.title }}
                </p>
            </div>

            <div class="col-md-4">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-user-md fa-stack-1x fa-inverse"></i>
                </span>
                <p class="value">
                    {{ _.milestones.medical.value }}
                </p>
                <p class="words">
                    {{ _.milestones.words }} EN&gt;ES
                </p>
                <p class="subject">
                    {{ _.milestones.medical.title }}
                </p>
            </div>
        </div>

        <div class="row text-center milestones">
            <div class="col-md-4">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <p class="value">
                    {{ _.milestones.data-protection.value }}
                </p>
                <p class="words">
                    {{ _.milestones.words }} EN&gt;ES
                </p>
                <p class="subject">
                    {{ _.milestones.data-protection.title }}
                </p>
            </div>

            <div class="col-md-4">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                </span>
                <p class="value">
                    {{ _.milestones.tools.value }}
                </p>
                <p class="words">
                    {{ _.milestones.words }} DE/EN&gt;ES
                </p>
                <p class="subject">
                    {{ _.milestones.tools.title }}
                </p>
            </div>

            <div class="col-md-4">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-folder fa-stack-1x fa-inverse"></i>
                </span>
                <p class="value">
                    {{ _.milestones.projects.value }}
                </p>
                <p class="subject">
                    {{ _.milestones.projects.title }}
                </p>
            </div>
        </div>
    </div>
</section>
